{% extends "base_navibar.html" %}
{% block buttonlist %}
<form action="./base_info" method="POST">
    <button class="button btn-default" style="border: none;background-color: rgb(211, 224, 224)" type="submit"
        name="uname" value="{{tea_id}}">基本信息</button>
</form>
<form action="./course_info" method="POST">
    <p><button class="button btn-default" style="border: none;background-color: rgb(211, 224, 224)" type="submit"
            name="uname" value="{{tea_id}}">课程信息</button></p>
</form>
{% endblock %}