{% extends "base_navibar.html" %}
{% block buttonlist %}
{% if title=="教师基本信息" %}<li class="active">{% else %}
<li>{% endif %}
    <a>
        <form action="./base_info" method="POST" style="height:100%;width:100%">
            <button class="button btn-default" style="border: none;background: none;height:100%;width:100%"
                type="submit" name="uname" value="{{tea_id}}">
                <span class="glyphicon glyphicon-book"></span><strong>基本信息</strong></button>
        </form>
    </a>
    </li>
    {% if title=="教师课程信息" %}<li class="active">{% else %}
            <li>{% endif %}
                <a>
                    <form action="./course_info" method="POST" style="height:100%;width:100%">
                        <button class="button btn-default" style="border: none;background: none;height:100%;width:100%"
                            type="submit" name="uname" value="{{tea_id}}">
                            <span class="glyphicon glyphicon-book"></span><strong>课程信息</strong></button>
                    </form>
                </a>
                </li>
    {% endblock %}