{% extends "base_navibar.html" %}
{% block buttonlist %}
{% if stu %}<li class="active">{% else %}<li>{% endif %}
    <a style="height:100%;width:100%">
        <form action="./base_info" method="POST" style="height:100%;width:100%">
            <button class="button btn-default" style="border: none;background: none;height:100%;width:100%;"
                type="submit" name="uname" value="{{stu_id}}">
                <span class="glyphicon glyphicon-user"></span><strong>基本信息</strong>
            </button>
        </form>
    </a>
</li>
{% if stu_course_list %}<li class="active">{% else %}<li>{% endif %}
    <a>
        <form action="./course_info" method="POST" style="height:100%;width:100%">
            <button class="button btn-default" style="border: none;background: none;height:100%;width:100%"
                    type="submit" name="uname" value="{{stu_id}}">
                    <span class="glyphicon glyphicon-book"></span><strong>课程信息</strong></button>
        </form>
    </a>

</li>

{% endblock %}